#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg {
    max-width: 50%;
    height: 100%;
    width: auto;
    object-fit: cover;
    margin-right:150px;
    margin-bottom: 80px;
    border: none;
    outline: none;
    background: none;
   
}

.introContent {
    width: 50%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: orange;
}

.introPara {
    font-size: medium;
    font-weight: 300;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
}

/* Responsive design */
@media screen and (max-width: 840px) {
    #intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    .bg {
        max-width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 1rem;
    }

    .introContent {
        width: 100%;
        font-size: 3vw;
        padding: 1rem;
    }

    .hello {
        font-size: 2.5vw;
    }

    .introPara {
        font-size: 1.5vw;
    }

    .btn {
        padding: 0.5rem 1rem;
        font-size: 1vw;
    }
}
